<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- <title>%%TITLE%%</title> -->
        <title>titre du site</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="/views/css/main.css" />
        <script src="main.js"></script>
    </head>
    <body>
    <header>
        <ul>
            <li><a class="" href="/auth/logoutAction">Logout</a></li>
            <!-- <li><a class="" href="../list.php">Liste des pages</a></li> -->
        </ul>
    </header>
    