body {
    background-color: beige;
}
.cache {
    display: none;
}
.container {
    display: flex;
    justify-content: space-around;
}
.field {
    display: flex;
    width: 100%;
}
label {
    margin: 10px;
    width: 200px;
}
input, textarea {
    padding: 0;
    margin: 2px 0;
    width: 100%;
}
form > div > button {
    width: 100%;
}
.checkbox {
    
}